#home {
    background-color: #000;
    padding-top: 4rem;
}

.profile-image {
    max-width: 80%;
    border-radius: 10px;
    /* box-shadow: 0 0 15px #313a47; */
}

.home-btn a {
    transition: all 0.3s ease;
}

.home-btn a:hover {
    transform: translateY(-3px);
}